{% macro star_add() %}

<style>
    .txt-center { 
        text-align: center; 
    } 
    .hide { 
        display: none; 
    } 
    
    .clear { 
        float: none; 
        clear: both; 
    } 
    
    .rating { 
        width: 90px; 
        unicode-bidi: bidi-override; 
        direction: rtl; 
        text-align: center; 
        position: relative; 
    } 
    
    .rating > label { 
        float: right; 
        display: inline; 
        padding: 0; 
        margin: 0; 
        position: relative; 
        width: 1em; 
        cursor: pointer; 
        color: #000; 
    } 
    
    .rating > label:hover, 
    .rating > label:hover ~ label, 
    .rating > input.radio-btn:checked ~ label { 
        color: transparent; 
    } 
    
    .rating > label:hover:before, 
    .rating > label:hover ~ label:before, 
    .rating > input.radio-btn:checked ~ label:before, 
    .rating > input.radio-btn:checked ~ label:before { 
        content: "\2605"; 
        position: absolute; 
        left: 0; 
        color: #FFD700; 
    } 
    </style>
    <div class="txt-center"> 
        <div class="rating" style="font-size: large;"> 
            <input name="star[]" type="radio" value="5" class="radio-btn hide" /> 
            <label for="star5">☆</label> 
            <input name="star[]" type="radio" value="4" class="radio-btn hide" /> 
            <label for="star4">☆</label> 
            <input name="star[]" type="radio" value="3" class="radio-btn hide" /> 
            <label for="star3">☆</label> 
            <input name="star[]" type="radio" value="2" class="radio-btn hide" /> 
            <label for="star2">☆</label> 
            <input name="star[]" type="radio" value="1" class="radio-btn hide" /> 
            <label for="star1">☆</label> 
        </div> 
    </div> 