{% import 'script.html' as script %}
{{ script.import_css()}}

<html>

<head>
    <meta charset="UTF-8">
    <title>討論</title>

</head>

<body>
    <center>
        <h3>
            <a href="/part">回到上一頁</a>
            <a href="/user">使用者管理</a>
            <a href="/proj">專案管理</a>
        </h3>
            <h3 style="color: deepskyblue;">
                {{html_list | safe}}
            </h3>
            <table border="1">
                <tr>
                    <td>面向名稱</td>
                    <td>面向說明</td>
                    <td>功能</td>
                </tr>
                {{html_list1 | safe}}
            </table>
                <form action="/stat?proj_id={{proj_id}}" method="post">
                    <input type="submit" value="統計">
                </form> 
    </center>

</body>

</html>