<!-- WTF顯示 -->
{% macro quick_form(form) %}
<form method="POST">
    <TABLE>
    {% for item in form %}
        {% if item.type == 'CSRFTokenField' %}
            {{ item() }}
        {% elif item.type == 'SubmitField' %}
            <TR><TD><TD> {{ form.submit() }}
        {% else %}
            <TR> <TD> {{ item.label }} <TD> {{ item() }} </TR>
        {% endif %}
    {% endfor %}
    </TABLE>
</form>
{% endmacro %}


<!-- part -->
<!-- 使一個存放html標籤指令的list~實現html標籤指令 -->
{% macro print_list(html_list) %}
    {% for i in list %}
    {{i | safe}}
    {% endfor %}
{% endmacro %}

<!-- {% import 'macro.html' as macro %}
{{ macro.print_list(html_list) }}  -->
