{% import 'script.html' as script %}
{{ script.import_css()}}
<html>

<head>
    <meta charset="UTF-8">
    <title>意見</title>

</head>

<body>
    <center>
        <div class="container">
            <div border=1 style="width: 800px; border-radius:10px;border:1px #e4e4e4 solid;padding:5px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);">
            
                <h3>
                    <a href="/part">回到主頁面</a>
                    <a href="/user">使用者管理</a>
                    <a href="/proj">專案管理</a>
                </h3>
                <div><button class="btn" onclick="location.href='/opinion_add?direction_id={{direction_id}}'">發表意見</div></br>
                <form action="/score?direction_id={{direction_id}}" method="post">
                    <table border="1" class="table">
                        <tr style="color: white; background-color: darkslategrey;" >
                            <td style="text-align: center;">編號</td>
                            <td style="text-align: center;">標題</td>
                            <td style="text-align: center;">說明</td>
                            <td style="text-align: center;">發表日期</td>
                            <td style="text-align: center;">發表者的名稱</td>
                            <td style="text-align: center;">平均分數</td>
                            <td style="text-align: center;">評價人數</td>
                            <td style="text-align: center;">評分</td>
                        </tr>
                        {{ html_list | safe}}
                    </table>
                    <input style="margin-top: 15px;" class="btn" type="submit" value="送出評分">
                </form>
            </div>
        </div>
    </center>
</body>

</html>