<html>
    <head>
        <meta charset="UTF-8">
        <title>意見</title>
        
    </head>
    <body >
        <center>
        <h3>
           <a href="/user">使用者管理</a>
           <a href="/project">專案管理</a>
           <a href="/leader">組長功能管理</a>
           <a href="/stat">統計管理</a>
        </h3>
        <div><button onclick="location.href='/opinion_add?id={{id}}'">發表意見</div>
        <table border ="1">
            <tr>
                <td>編號</td>
                <td>標題</td>
                <td>說明</td>
                <td>發表日期</td>
                <td>發表者的名稱</td>
                <td>平均分數</td>
                <td>評價人數</td>
                <td>功能</td>
            </tr>
            {{ html_list | safe}}
        </table>
        </center>
        
    </body>
</html>