<html>
    <head>
        <meta charset="UTF-8">
        <title>分類</title>
        
    </head>
    <body >
        <p>
            <h1>
                <center><b>分類</b></center>
            </h1>
        </p>
        <center>
        <h3>
            <a href="/user">使用者管理</a>discuss
            <a href="/proj">專案管理</a>
            <a href="/leader">組長功能管理</a>
            <a href="/stat">統計管理</a>
            
        </h3>
        {{html_list | safe}}
        </center>
        
    </body>
</html>