<html>
    <head>
        <meta charset="UTF-8" />
        <title>選擇專案組長</title>
    </head>
    <body>
        <p>
        <h1>
            <center><b>選擇專案組長</b></center>
        </h1>
        </p>
        <center>
            <p><input type="button" value="回到專案管理" onclick="location.href='/proj'"></p>
            <form action="/proj_add_member" method="post">
                <h1>        
                    {{html_list | safe}}
                </h1>
                <input type="hidden" name="id" value="{{id}}">
                <input type="submit" value="NEXT" >
            </form>
        </center>
    </body>
</html>        

