{% import 'script.html' as script %}
{{ script.import_css()}}
<html>
    <head>
        <meta charset="UTF-8">
        <title>專案管理</title>
    </head>
    <body>
        <h1>
            <center><b>專案管理</b></center>
        </h1>
        <center>
        <h3>
            <a href="/part">回到主頁面</a>
            <a href="/proj_add">專案新增</a>
            <br>
        </h3>
            <table border="1" align="center">
                <tr>
                    <td>專案名稱</td>
                    <td>編輯</td>   
                </tr>
                {{html_list | safe}} 
            </table>    
        </center>
    </body>
</html>