<?php
	include("db_connect.php");
?>
<html>
    <head>
        <meta charset="UTF-8">
        <title>專案管理</title>
    </head>
    <body>
        <p>
            <h1>
                <center><b>專案管理</b></center>
            </h1>
        </p>
        <center>
        <h1>
            <input type = "button" value = "專案新增" onclick="location.href='project_add.php'">
            <br>
            <table border="1" align="center">
                <tr>
                    <td>專案名稱</td>
                    <td>編輯</td>   
                </tr>
                {% import 'macro.html' as macro %}
                {{ macro.print_list(html_list) }}    
            </table>    
        </h1>
        </center>
    </body>
</html>