<html>
    <head>
        <meta charset="UTF-8">
        <title>專案管理</title>
    </head>
    <body>
        <p>
            <h1>
                <center><b>專案管理</b></center>
            </h1>
        </p>
        <center>
        <h1>
            <input type = "button" name="part" value="回到上一頁" onclick="location.href='/part'">
            <input type = "button" value = "專案新增" onclick="location.href='/proj_add'">
            <br>
            <table border="1" align="center">
                <tr>
                    <td>專案名稱</td>
                    <td>編輯</td>   
                </tr>
                {{html_list | safe}} 
            </table>    
        </h1>
        </center>
    </body>
</html>