{% import 'script.html' as script %}
{{ script.import_css()}}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>選擇專案組長</title>
    </head>
    <body>
        <center>
            <div class="container">
                <div border=1 style="width: 500px; border-radius:10px;border:1px #e4e4e4 solid;padding:5px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);">
                 
                    <p>
                    <h1>
                        <center><b>選擇專案組長</b></center>
                    </h1>
                    </p>
                    <h3>
                        
                        <a href="/proj">回到專案管理</a>
                    </h3>
                    
                    <form action="/proj_add_member" method="post">
                        <h1>        
                            {{html_list | safe}}
                        </h1>
                        <input type="hidden" name="id" value="{{id}}">
                        <input class="btn" type="submit" value="NEXT" >
                    </form>
                </div>
            </div>
        </center>
    </body>
</html>        

