<html>
    <head>
        <meta charset="UTF-8" />
        <title>新增專案管理者</title>

        <script src="jquery-3.4.1.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap-responsive.min.css">
    </head>
    <body>
        <p>
            <h1>
                <center><b>新增專案管理者</b></center>
            </h1>
		</p>
	
        <form action="/db_proj_add_user" method="post">
            <center>
            <h1>
				<br>
				<p><input type = "button" value = "回到專案管理" onclick="location.href='/project'"></p>
				<br>
					<select name = "leader">
						{{html_list | safe}}
					</select>
					<br>
					<br>
                    {{html_list1 | safe}}
				<br>

				<input type="hidden" name = "id" value="{{id}}">
                <input type = "submit" value="新增資料"><input type = "reset" value="重新輸入">
            </h1>
            </center>
        </form>

    </body>
</html>