{% macro face_add() %}
<script src={{ url_for( 'static',filename='jquery-3.4.1.min.js' ) }}></script>
<script src={{ url_for( 'static',filename='bootstrap.min.js' ) }}></script>
<script>
    $(function() {
        $(".face_add").click(function() {
            if ($(".face_div").children().length == 10) {
                alert("超過上限");
            } else {
                $.ajax({
                    url: '/face_add',
                    type: 'get',
                    success: function(data) {
                        $(".face_div").append(data);
                    }
                })
            }
        })
    })
</script>
{% endmacro %} {% macro import_css() %}
<link rel="stylesheet" href="{{ url_for('static',filename ='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename ='bootstrap.css') }}">
 {% endmacro %} {% macro debug_msg(msg) %}
<center>
    <h2 style="color: red;">{{msg}}</h2>
</center>
{% endmacro %}