{% import 'script.html' as script %}
{{ script.import_css()}}

<html>

<head>
    <meta charset="UTF-8">
    <title>統計結果</title>

</head>

<body>
    <center>
        <h3>
            <a href="/part">回到上一頁</a>
            <a href="/user">使用者管理</a>
            <a href="/proj">專案管理</a>
        </h3>
            <h3 style="color: deepskyblue;">
                專案名稱: {{ proj_name }}
            </h3>
            <table border="1">
                <tr>
                    <td>面向名稱</td>
                    <td>討論結果</td>
                    <td>分數</td>
                </tr>
                {{html_list | safe}}
            </table>
        
    </center>

</body>

</html>