{% import 'script.html' as script %} {{ script.import_css()}}

<html>

<head>
    <meta charset="UTF-8">
    <title>統計結果</title>

</head>

<body>
    <center>
        <div class="container">
            <div border=1 style="width: 700px; border-radius:10px;border:1px #e4e4e4 solid;padding:5px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);">
                <h3>
                    <a href="/part">回到上一頁</a>
                    <a href="/user">使用者管理</a>
                    <a href="/proj">專案管理</a>
                </h3>
                <h3 style="color: deepskyblue;">
                    專案名稱: {{ proj_name }}
                </h3>
                
                <table border="1" class="table" >
                    <tr style="color: white; background-color: darkslategrey;" >
                        <td  style="text-align: center;">面向名稱</td>
                        <td  style="text-align: center;">討論結果</td>
                        <td style="text-align: center;">分數</td>
                    </tr>
                    {{html_list | safe}}
                </table>
                
            </div>
        </div>
    </center>

</body>

</html>