{% import 'script.html' as script %}
{{ script.import_css()}}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>使用者修改</title>
    </head>
    <body>
        <center>
            <div class="container">
                <div border=1 style="width: 500px; border-radius:10px;border:1px #e4e4e4 solid;padding:5px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);">
              
                    <p>
                        <h1>
                            <center><b>使用者修改</b></center>
                        </h1>
                    </p>
                    {{ script.debug_msg(msg) }}
                    <h3>
                        <a href="/user">回到使用者管理</a>
                    </h3>
                    <form action="/db_update" method="post">
                        <table border="1" class="table">    
                            <p>
                                <tr style="color: white; background-color: darkslategrey;" >
                                    <td style="text-align: center;">欄位</td>
                                    <td style="text-align: center;">資料</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">使用者名稱</td>
                                    <td style="text-align: center;"><input type = "text" name = "name" value = "{{name}}" required></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">密碼</td>
                                    <td style="text-align: center;"><input type = "text" name = "password" value = "{{password}}" required></td>
                                </tr>                    
                            </p>
                                
                        </table>
                        <input type = "hidden" name = "id" value = "{{id}}">
                        <input class="btn" type = "submit" value="修改資料"><input class="btn" type = "reset" value="重新輸入">
                    </form>
                </div>
            </div>
        </center>
    </body>
</html>