{% import 'script.html' as script %}
{{ script.import_css()}}
<html>
    <head>
        <meta charset="UTF-8">
        <title>使用者管理</title>
    </head>
    <body>
        <h1>
            <center><b>使用者管理</b></center>
        </h1>
        <center>
        <h3>
            <a href="/part">回到主頁面</a>
            <a href="/add">帳號新增</a>
            <br>
        </h3>
            <table border="1" align="center">
                <tr>
                    <td>名稱</td>
                    <td>帳號</td>
                    <td>編輯功能</td>   
                </tr>
                {{html_list | safe}}
            </table>
        
        </center>
    </body>
</html>